# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log