<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    {% include 'components/_style.html' %}
</head>
<body>
<!--navbar-->
{% include 'components/_navbar.html' %}
<!--/navbar-->

<div class="main-container min-h-screen"
     style="
        background-image: url('{% static 'images/image_1.png' %}');
        background-size: cover;
        background-position: center;
        min-height: 100vh;
     ">
    {% block main %}
    {% endblock main %}
</div>
<!--footer-->
{% include 'components/_footer.html' %}
<!--/footer-->

<!--scripts-->
{% include 'components/_scripts.html' %}
<!--/scripts-->

</body>
</html>